{{#if isLandingPage}}
    <img src="2_dice.png" alt="default 2 dice" style="height:200px">
{{else}}
    <a href="/">Go Back Home</a>
    <br>
    <img src={{firstDieFile}} alt="first Die" style="height:200px">
    <img src={{secondDieFile}} alt="first Die" style="height:200px">
{{/if}}
