{{#if isLandingPage}}
    <img id="defaultdice" src="2_dice.png" alt="default 2 dice">
{{else}}
    <a href="/">Go Back Home</a>
    <br>
    <img class="resultdie" src={{firstDieFile}} alt="first Die">
    <img class="resultdie" src={{secondDieFile}} alt="second Die">
{{/if}}
